.editableMeasurement {
  display: flex;
  gap: 1rem;
  justify-content: stretch;
  margin: 0 0 1rem 0;
}

.measurementsContainer {
  max-height: calc(100vh * 0.75);
  overflow-y: auto;
}

.measurementsHeader {
  padding: 16px;
}

.measurementRow {
  cursor: pointer;
  height: 3.8rem
}

.measurementRow:hover {
  background-color: #e4f2ff;
}

.measurementRow input {
  padding: 10px;
}

.measurementRow td {
  padding: 0 16px 0 16px;
}

.measurementRow.isSelected:hover {
  background-color: inherit;
}

.measurementsToolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tableCellContent {
  display: inline-flex;
}